@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@300;500;400;700&family=Sarala&family=Titan+One&display=swap');
@import "compass";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-size: 100%;
    background: #c0b7b1;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 690px;
    padding: 15px;
    background: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 80px;
    border-bottom: 2.0px solid black;
    position: fixed;

}

.icone-cabecalho {
    height: 25px;
    padding-left: 22px;
}

.menu-cabecalho-principal {
    display: flex;
    gap: 22px;
    padding-right: 50px;

}

.cabecalho-menu-item {
    font-family: 'Titan One', cursive;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.conteudo {
    margin-bottom: 48px;
}

.perfil-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 250px;
    margin-bottom: 473px;

}


.apresentacao {
    font-family: 'Orbitron', sans-serif;
    font-weight: 300;
    font-size: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    display: flex;
    padding-top: 400px;
    box-sizing: border-box;

}

.static-txt {
    font-size: 60px;
    padding-right: 5px;
}

.static-txt2 {
    font-size: 60px;
    padding-left: 5px;
}


#text::after {
    content: '|';
    font-size: 55px;
    margin-left: 5px;
    animation: blink 1.0s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.perfil-escrito {
    margin-top: 158px;
    border-top: 2.0px solid black;
    border-bottom: 2.0px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 100%;
    background: #9d9692;

}

#element {
    padding-top: 200px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

#element::after {
    content: '|';
    font-size: 40px;
    margin-left: 5px;
    animation: blink 1.0s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.imagem-sobre {
    padding-top: 30px;
    padding-left: 150px;
    height: 700px;

}


.titulo-perfil {
    padding-top: 200px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;

}

.perfil-escrito2 {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 120px;
    gap: 20px;
    margin-bottom: 290px;
}



.paragrafo-perfil1 {
    padding-left: 2px;
    font-family: 'Sarala', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.paragrafo-perfil2 {
    padding-left: 2px;
    font-family: 'Sarala', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.paragrafo-perfil3 {
    padding-left: 2px;
    font-family: 'Sarala', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-right: 230px;
    text-align: justify;
}

.paragrafo-perfil4 {
    padding-left: 2px;
    font-family: 'Sarala', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-right: 230px;
    text-align: justify;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.text-footer {
    font-family: 'Sarala', sans-serif;
    font-size: 22px;
    font-weight: 100;
    padding-left: 50px;
    padding-bottom: 25px;

}